.social-img {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    background: #fff;
    border-radius: 10%;
    border: 1px #fff solid;
    padding: 1px;
}

.app-body{
      min-height: 83vh;
}

.bg-theme {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-primary-rgb),var(--bs-bg-opacity))!important;
}
 .btn-theme {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.btn-theme:focus {
  color: #fff;
  background-color: #0a58ca;
  border-color: #0a58ca;
}

.nav-link {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
  }
  
  @media (min-width: 576px) {
    .nav-link {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
  }

.card-img-top {
    width: 100%;
    height: 50vw;
    object-fit: contain;
}

@media (min-width: 576px) {
  .card-img-top {
    height: 20vw;
  }
}

.cart-img {
  width: 100%;
  height: 30vw;
  object-fit: contain;
}

@media (min-width: 576px) {
.cart-img {
  height: 7vw;
}
}