.social-img {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    background: #fff;
    border-radius: 10%;
    border: 1px #fff solid;
    padding: 1px;
  }

  .app-body{
      min-height: 83vh;
  }